.navbar-brand img {
  margin-right: 2rem;
}

.navbar > div {
  margin-right: 2rem;
  margin-left: 2rem;
}

.nav-item a {
  font-size: 1.425rem;
}

#main-img {
  max-width: 100%;
  max-height: 100%;
}

.main-cont {
  padding: 0;
}

.our-services h2 {
  text-align: center;
}

#map {
  height: 22.5rem;
  width: 27rem;
}

.map-column {
  padding-top: 4.5rem;
  padding-left: 12rem;
}

.card {
  width: 22rem;
  height: 22rem;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.1);
  border: none;
}

.card-img-top {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.card-block {
  padding-left: 1rem;
  padding-right: 1rem;
}

.card-title {
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.1em;
}

.our-services {
  padding: 5rem;
}

.our-services h2 {
  margin-bottom: 5rem;
}

.our-services > img {
  max-width: 100%;
  max-height: 600px;
}

.our-services {
  padding-bottom: 0;
  width: 50rem;
  height: 30rem;
}

@media only screen and (min-width: 992px) {
  .thumb {
    padding-bottom: 0;
  }

  .our-services {
    padding-bottom: 5rem;
  }
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.main-cont {
  position: relative;
  text-align: center;
}

.centered {
  font-size: 5vw;
  font-weight: bold;
  font-style: italic;
  color: orange;
  position: absolute;
  line-height: 90%;
  top: 35%;
  left: 50%;
  transform: translate(-75%, -90%);
}

.centered-bottom-text {
  font-size: 3vw;
  font-weight: bold;
  position: absolute;
  line-height: 90%;
  top: 45%;
  left: 50%;
  transform: translate(-80%, -90%);
}

.review-photo {
  border-radius: 50%;
  filter: grayscale(100%);
  margin-top: 2rem;
}

.reviewer {
  font-size: 2em;
  font-family: "Courier New", Courier, monospace;
}

.contact-form {
  padding: 30px;
  margin: 0 auto;
  font-family: Arial, FontAwesome;
}

.contact-form input,
.contact-form textarea {
  width: 50%;
  margin-bottom: 1rem;
}

.contact-form a {
  width: 50%;
  text-decoration: none;
}

footer {
  margin-left: 7rem;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:visited {
  color: black;
  text-decoration: none;
}

footer a:hover {
  opacity: 50%;
}

footer a:active {
  color: black;
  text-decoration: none;
}

.about-us h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.about-us {
  margin-top: 2rem;
  margin-bottom: 5rem;
  width: 50%;
}

.reviews {
  margin-bottom: 4rem;
}

.reviews h2 {
  margin-bottom: 3rem;
}

.review-photo {
  margin-bottom: 3rem;
}

.pricing {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

textarea {
  resize: none;
}

.carousel-item {
  height: 32rem;
  width: 100%;
  background-color: #777;
  color: wheat;
  position: relative;
  background-position: center;
  background-size: cover;
}
.carousel-container {
  position: absolute;
  bottom: 0px;
  padding-bottom: 3rem;
}

.slide-1 {
  background-image: url(/img/deck.jpg);
  background-position: right bottom;
}

.slide-2 {
  background-image: url(/img/walkway.jpg);
  background-position: bottom center;
}

.slide-3 {
  background-image: url(/img/wall.jpg);
  background-position: center;
}

@media only screen and (min-width: 992px) {
  .slide-3 {
    background-position: left top;
  }
}

.carousel-container {
  background: rgba(0, 0, 0, 0.35);
  margin: 0;
  z-index: 0;
}

.why-us h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
}

.why-us h3 {
  color: orange;
  font-weight: bold;
  margin-bottom: 2rem;
}

.why-us p {
  margin-bottom: 5rem;
  font-size: 1.3em;
}

hr {
  border-top: 8px solid orange;
  opacity: 1;
  margin: auto;
  margin-bottom: 100px;
  width: 25%;
}

#services {
  font-weight: bold;
  margin-bottom: 2rem;
}
